@font-face {
  font-family: 'ProximaNova-Black';
  src: local("ProximaNova-Black") url("https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff") format("woff"), url("https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2") format("woff2");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #070506 url(../img/main-bg-1.png) top right 90% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Roboto", san-serif;
}

.container {
  width: 90%;
  max-width: 1060px;
  margin: auto;
  padding-top: 91px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__link:not(:last-child) {
  margin-right: 15px;
}

.hero {
  margin-top: 78px;
}

.hero__subtitle {
  font-size: 40px;
  line-height: 100%;
  font-weight: 900;
  font-family: 'ProximaNova-Black', sans-serif;
}

.hero__title {
  margin-top: 5px;
  font-size: 64px;
  line-height: 78px;
  font-weight: 900;
  font-family: 'ProximaNova-Black', sans-serif;
  margin-bottom: 25px;
}

.hero__description {
  max-width: 572px;
  font-size: 18px;
  line-height: 150%;
  font-weight: normal;
  color: #AFAFAF;
}

.hero__premiere {
  display: block;
  font-size: 18px;
  line-height: 150%;
  font-weight: normal;
  color: #B02000;
  margin-top: 25px;
}

.hero__date {
  display: block;
  font-size: 24px;
  line-height: 150%;
  font-weight: normal;
  color: #FFFFFF;
  margin-top: 5px;
}

.hero__button-play {
  margin-top: 54px;
}

.button-play {
  display: inline-block;
  position: relative;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#FB641A), to(#FC3309));
  background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
  border-radius: 300px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 25px 85px 24px 34px;
  text-decoration: none;
}

.button-play::after {
  display: block;
  position: absolute;
  content: '';
  width: 65px;
  height: 65px;
  right: 0;
  top: 0;
  background: #fff url(../img/button-play.svg) 13px 13px no-repeat;
  border-radius: 50%;
}

.button-play::before {
  display: block;
  position: absolute;
  content: '';
  width: 81px;
  height: 81px;
  right: -8px;
  top: -8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.episodes {
  margin-top: 59px;
}

.episodes__title {
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  margin-bottom: 24px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider__item {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  height: 200px;
  background: rgba(80, 80, 80, 0.86);
  -webkit-box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 20px;
}

.slider__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.slider__item:not(:last-child) {
  margin-right: 20px;
}

.slider__item:hover {
  background: rgba(64, 101, 255, 0.86);
}

.slider__year {
  font-size: 18px;
  line-height: 150%;
  font-weight: normal;
  margin-bottom: 5px;
}

.slider__title {
  font-size: 18px;
  line-height: 150%;
  font-weight: 900;
  margin-bottom: 12px;
}

.slider__rating-label {
  font-size: 13px;
  line-height: 150%;
  font-weight: normal;
}

.star {
  background: url(../img/star.svg);
}
/*# sourceMappingURL=style.css.map */